# edit & save this file as '.env'
# telegram bot token
TELEGRAM_TOKEN=1234

# root URL for groupware API
ROOT_API_URL=https://google.com

# this bot name. without '@', case insensitive
BOT_NAME=YOUR_BOT

# display debug message
# IS_DEBUG=TRUE

# database url for sql alchemy
# example:
# - sqlite:///path/to/file.db
# - mysql://user:pwd@host:port/db_name
# - postgresql://user:pwd@host:port/db_name
DATABASE_URL=sqlite:///test.db

# groupware username for test
# TEST_USER=testuser

# telegram chat id used for functional testing
#TEST_CHAT_ID=123

# telegram message id used for functional testing
#TEST_MESSAGE_ID=123

# telegram photo file_id used for functional testing
#TEST_PHOTO_FILE_ID=123
